body{
    background-color: rgb(215, 247, 231) !important;
}

input{
    background-color: white;
}

.dImagen{
    margin: 0 auto;
    width: 25vw;
    height: 25vh;
    text-align: center;
}
.dImagen img{
    width: 20vw;
    height: auto;
}

.dPostal{
    text-align: center;
}

.dPostal input{   
    padding: 0.5vw;
}

.dPostal button{
    padding: 1vw;
    border: none;
    background-color: white;
    border-radius: 0.05vw;
}