body{
    background-color: rgb(236, 252, 251) !important;
}

input{
    background-color: white;
}

.dImagen{
    margin: 0 auto;
    width: 20vw;
    height: 20vh;
    text-align: center;
}
.dImagen img{
    width: 100%;
    height: auto;
}

.dSubtitulo{
    margin: 0em auto;
    text-align: center;
}

.dPostal{
    text-align: center;
    margin-top: 10vh;
}

.btnAsignarRestriccion{
    margin-top:10vh;
}