body{
    background-color: rgb(214, 235, 255) !important;
}

input{
    background-color: white;
}

.dImagen{
    margin-bottom:2vh;
    margin-right: auto;
    margin-left: auto;
    width: 20vw;
    height: 20vh;
    text-align: center;
    display:block;
}
.dImagen img{
    width: 100%;
    height: auto;
    z-index: 200000000;
}

.dSubtitulo{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    text-align: center;
    display:block;
}

.dPostal{
    text-align: center;
    margin-top: 10vh;
}


.restriccion{
  background-color:rgb(50, 116, 111) !important; 
  color:rgb(111, 255, 243) !important;
}

.btnAsignarRestriccion{
    margin-top:2.5vh;
    margin-bottom:5vh;
}

.dResAlert{
    margin-top:5vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dFormAsignar{
    margin-top:5vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

